.error-component {
    background-color: #B7374E;
    width: 50%;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-left: 30%;
}

.error-component .icon-error {
  display: block; 
  color: rgb(255, 255, 255);
  padding-right: 20px;
  padding-top: 4px;
  /* background-color: aqua; */
}

.error-component .icon-error .error{
    font-size: larger;
}

.error-component .message {
    /* background-color: rgb(18, 66, 66); */
}

.error-component .message h3 {
    color: rgb(255, 255, 255);
    font-family: Verdana;
    font-weight: 400;
}