.import-clients, .import-produits, .import-commandes {
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 1rem;
}

/* .import-produits {
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 1rem;
}

.import-commandes {
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 1rem;
} */
